:root {
  /* COULEUR         
  Utilisation:
  h1 {...color: var(--noir1); par exemple
  */

  /* Couleur 1 principale */
  --noir1: #212226;
  --vert1_fonce: #40735b;
  --marron1: #73493f;

  /* Couleur 2 secondaire */
  --vert2_moyen: #85a676;
  --vert2_pale: #b5d991;

  /* Couleur 3 d accent */
  --marron3_clair: #bf5545;
            
  /* 1) TITRE: Praise regular 400 (google font) */
  font-family: 'Praise', cursive;    

  /* 2) TEXTE: Cinzel Regular 400 (google font) */
  font-family: 'Cinzel', serif;
}

/* body {
  user-select: none;
  background: url(https://images.pexels.com/photos/269063/pexels-photo-269063.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    center/cover no-repeat;
} */

body{
  background: center/cover url(images/lumber-84678.jpg);
}
/* _________________________________HEADER______________________________________________ */

header {
  width: 100%;
  background: center/cover url(images/banniere4.png) no-repeat;
  border: 2px solid var(--noir1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header div {
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

header div div {
  /* Div logo */
  flex: 1;
}

header div div img {
  /* logo */
  width: 80px;
}

header div h1 {
  flex: 4;

  text-align: center;
  font-family: "Praise", cursive;
  font-size: 5rem;
  letter-spacing: 5px;
  color: var(--marron3_clair);
  text-shadow: 5px 5px 0px black;
}

header nav {
  width: 100%;
}

header nav ul {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap; /* ou nowrap... non */
  justify-content: space-around;
}

header nav ul li {
  display: flex;
  margin: 10px;
  backdrop-filter: blur(20px);
  border: 1px solid var(--noir1);
  border-radius: 5px;
  width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header nav ul li:hover {
  transition: 0.5s;
  transform: scale(120%);
}
/* cacher l'horaire */
.tel{
  display: none;
}
.commander{
  display: none;
}
/* cacher bouton */
body a .btnphone{
  display: none;
}
.Nav_Page_i {
  padding: 5px;
  text-decoration: none; /* Liens non soulignés */
  color: #BF5545;
  text-shadow: 1px 1px 0px black;
  font-size: 1.8rem;
  font-family: 'Praise', cursive;  
}

@media screen and (max-width: 550px) {
  header nav ul li {
    width: 250px;
  }

  .Nav_Page_i {
    padding: 10px;
  }

  header div h1 {
    font-size: 3rem;
  }
}

/* _________________________________MAIN______________________________________________ */

/* main {
  margin-bottom: 100px;
}

h2 {
  font-family: "Praise", cursive;
  letter-spacing: 5px;
  font-size: 3rem;
  text-align: center;
  color: var(--noir1);
  text-shadow: 2px 2px 0px var(--marron3_clair);
  background: rgba(182, 182, 182, 0.521);
}

h3 {
  margin: 10px 10px;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  color: var(--noir1);
  text-shadow: 2px 2px 0 var(--marron3_clair);
}

h4 {
  font-family: "Cinzel", serif;
  font-size: 1rem;
  color: var(--vert2_pale);
  margin: 0 10px;
}

.prix {
  text-align: right;
  padding-right: 20px;
}

hr {
  margin: 0 auto;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 3px;
  background: var(--noir1);
}

.boxcarte {
  margin: 0% 10%;
}

.burger {
  display: flex;
  border: 2px solid var(--noir1);
  margin-top: 20px;
  background: var(--marron1);
  border-radius: 5px;
}

.avant {
  box-shadow: 0px 0px 20px 2px #ffffff;
}

img {
  width: 100%;
  align-self: center;
  border-radius: 5px;
}

.imgcarte {
  min-width: 150px;
  max-width: 250px;
  display: flex;
  flex: 1;
  margin: 10px;
}

.txtcarte {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-self: center;
}

@media screen and (max-width: 550px) {
  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.95rem;
    margin: 0 5px;
  }

  .boxcarte {
    margin: 10px 10px;
  }

  .imgcarte {
    margin: 5px;
  }
} */

/* _________________________________FORM LOGIN ADMIN____________________________ */

.logadmin {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.logimg {
  display: flex;
  margin: auto;
  background: url(images/photoR.jpg) center/cover no-repeat;
  border: 3px solid var(--noir1);
  border-radius: 10px;
}

#formLogin {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin: 60px;
  background: rgba(182, 182, 182, 0.521);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}

#formLogin label {
  font-family: "Cinzel", serif;
  font-size: 1.6rem;
  color: black;
}

#formLogin input {
  height: 40px;
}

#btn_auth {
  font-family: "Praise", cursive;
  font-size: 1.2rem;
}

/* _________________________________FORM RESERVATION____________________________ */

#form_reservation {
  width: 600px;
  background: url(images/photoA.jpg) center/cover no-repeat;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: column;
  grid-template-areas:
    "Tx1    Inp1 Inp1 Inp1      "
    "Tx2    Inp2 Inp2 Inp2      "
    "Tx3    Inp3 Inp3 Inp3      "
    ".      midi .    soir      "
    ".      .    .    reserv    ";

  border: 3px solid var(--noir1);
  border-radius: 10px;
  padding: 30px;
  margin: auto;
}

#form_reservation label {
  font-family: "Cinzel", serif;
  font-size: 1.3rem;
  color: white;
  background: #000000bb;
  border-radius: 20px 0px 0px 20px;
  text-align: right;
  padding: 10px;
}

#Nom_tx {
  grid-area: Tx1;
}
#Nom_input {
  grid-area: Inp1;
}
#Tel_tx {
  grid-area: Tx2;
}
#Tel_input {
  grid-area: Inp2;
}
#Date_tx {
  grid-area: Tx3;
}
#Date_input {
  grid-area: Inp3;
}
#Midi_box {
  grid-area: midi;
}
#Soir_box {
  grid-area: soir;
}
#Btn_Reserver {
  grid-area: reserv;
  font-family: "Praise", cursive;
  font-size: 1.2rem;
}
.box_time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#form_reservation input[type="checkbox"] {
  transform: scale(2.5);
}

@media screen and (max-width: 610px) {
  #form_reservation {
    width: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 */
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 2fr; /* 9 */
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "Tx1      Tx1     Tx1"
      "Inp1     Inp1    Inp1"
      "Tx2      Tx2     Tx2"
      "Inp2     Inp2    Inp2"
      "Tx3      Tx3     Tx3"
      "Inp3     Inp3    Inp3"
      "midi     .       soir"
      "reserv   reserv  reserv";

    padding: 10px 5px 10px 5px;
  }

  #Btn_Reserver {
    grid-area: reserv;
    margin: 10px 50px 0px 50px;
  }
}
/* ________________________PAGE info____________________ */ 
/* header version mobile */
.nav-phone{
  display: none;
}
.textcommander{
  text-align: center;
}
body .btnphone{
  display: flex;
  justify-content: center;
  margin: auto;
}
.text_btn{
  font-size: 0.8rem;
}
div h2{
  text-align: center;
  font-family: 'Praise', cursive;  
  font-size: 4rem;
  color: #bf5545;

}
/* triangle */
#triangle-code{
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 15px solid #bf5545;
  border-right : 7px solid transparent;
  border-left : 8px solid transparent;
 }
/* cacher bouton */
 /* a .btnphone{
  display: none;
} */
/* Carouselle */
.slider{
  width: 400px;
  height: 400px;
  margin: auto;
}
.slides{
  animation: defilement 9s infinite;
  height: 400px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@keyframes defilement {
  0%{
     background: center/cover url(images/b1.jpg);
  }
  33.333%{
    background: center/cover url(images/b2.png);
  }
  66.666%{
    background: center/cover url(images/b3.png);
  }
  100%{
    background: center/cover url(images/b4.png);
  } 
}
/* horaire dynamique */
.box-horaire{
  backdrop-filter: blur(2px);
  background: center/cover url(images/rose.png);
  width: 50%;
  height: 10vh;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
}
/* description1 (version pc) */
.description1{
  margin: 40px 40px;
  backdrop-filter: blur(4px);
  display: flex;
}
.textdesc1{
  color: white;
  font-size: 1.7rem;
  margin: 20px;
}
/* grand box */
.bigbox{
  display: flex;
}
/* partie droite */
.partL{
  flex: 1;
}
.partR{
  flex: 2;
  margin: 30px;
}
.adresse{
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  margin: 10px;
  justify-content: center;
}
/* maps partie gauche */
iframe{
  width: 100%;
  border-radius: 50px;
}
/* text 2 */
.description2 p{
  margin: 40px 40px;
  backdrop-filter: blur(4px);
  display: flex;
}
.textdesc2{
  color: white;
  font-size: 1.7rem;
  margin: 20px;
}
/* box adresse et btn */
.box-LR{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.box-adresse{
  margin: 40px 40px;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  text-align: center;
}
a{
  display: flex;
  text-decoration: none;
}
p{
  font-family: 'Cinzel', serif;
}
.btn1{
  backdrop-filter: blur(3px);
  border-radius: 10px;
  margin: 5px;
  border: 1px solid rgb(255, 255, 255);
}
.text_btn{
  color: rgb(255, 255, 255);
  margin: 0px;
}
.lien1{
  align-items: center;
}
/* media query pour "tablette" */
@media screen and (max-width: 1150px){
  .bigbox{
    flex-direction: column;
  }
}
/* media query telephone*/
@media screen and (max-width: 550px) {
  /* triangle */
  #triangle-code{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 15px solid #bf5545;
    border-right : 8px solid transparent;
    border-left : 7px solid transparent;
   }
  /* commander uber eats */
.commander{
  display: flex;
  justify-content: center;
  background-color: #73493f;
  border-radius: 10px;
  width: 70%;
  margin: 30px auto;
  color: white;
  font-size: 1.2rem;
}
  /* pour que le premier logo disparaise*/
  .nav-ordi{
    display: none;
  }
  /* pour que deuxieme logo cliquable apparaise */
  .nav-phone{
    display: flex;
  } 
  .test{
    transform-origin: rotate(180deg);
  }
  /* reduire flou */
  header nav ul li{
    backdrop-filter: blur(2px);
  }
  /* pour que la nav disparaise et réaparaise cliquable*/
  header nav{
    display: none;
  }
  header .coucou{
    display: flex;
  }
  /* animer la largeur de l'ouverture du menu */

  /* pour que le 4eme element de la nav part*/
  .comUber{
    display: none;
  }
  /* pour que lhoraire de la carouselle sorte */
  .box-horaire{
    display: none;
  }
  .tel{
    display: flex;
    margin: 30px auto;
    width: 70%;
  }
  /* pour que le bouton apparait */
  body a .btnphone{
    display: flex;
  }
  /* pour que les deux paragraphe disparaise */
  .textdesc1{
    display: none;
  }
  .description2{
    display: none;
  }
  /* reduire taille btn */
  .btn{
    height: 6vh;
  }
  /* pour que le bouton disparaise */
  .btn1{
    display: none;
  }
 .logo-tel1{
  transform: rotate(90deg)
 }
  body .btnphone{
    margin-top: 20px;
  }
  /* responsiv */
  .hscript{
    font-size:0.4rem;
  }
  .slider{
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .slides{
    animation: defilement 9s infinite;
    height: 200px;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  @keyframes defilement {
    0%{
       background: center/cover url(images/b1tel.jpg);
    }
    25%{
      background: center/cover url(images/b2\ tel.png);
    }
    50%{
      background: center/cover url(images/b3\ tel.png);
    }
    75%{
      background: center/cover url(images/b4\ tel.png);
    } 
  }
  /* fon pour telephone(moin grande) */
  body{
    background: center/cover url(images/fontel.png) no-repeat;
  }
    
}