
body{
    margin: 0px;
    padding: 0px;
    background: center/cover url(/images/charbon.png) no-repeat;
    box-sizing: border-box;
}
header {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .tel{
    display: block;
  }
  .tete{
    background: center/cover url(/images/img3.jpg);
  }
/* .tete{
  background: center/cover url(/images/img3.jpg);
} */
  header div {
    width: 100%;
  
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  header div div {
    /* Div logo */
    flex: 1;
  }
  
  header div div img {
    /* logo */
    width: 80px;
  }
  
  header div h1 {
    flex: 4;
  
    text-align: center;
    font-family: "Praise", cursive;
    font-size: 5rem;
    letter-spacing: 2px;
    color: var(--marron3_clair);
    text-shadow: 3px 3px 0px var(--noir1);
  }
  
  header nav {
    width: 100%;
  }
  
  header nav ul {
    list-style-type: none;
  
    display: flex;
    flex-wrap: wrap; /* ou nowrap... non */
    justify-content: space-around;
  }
  
  header nav ul li {
    display: flex;
    margin: 0 5px;
    background: var(--marron1);
    border: 2px solid var(--noir1);
    border-radius: 10px;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  header nav ul li:hover {
    transition: 0.5s;
    transform: scale(120%);
  }
  
/*  */
.Nav_Page_i {
  padding: 3px;
  text-decoration: none; /* Liens non soulignés */
  color: var(--vert2_pale);
  font-size: 1.3rem;
}
h1{
    text-align: center;
    font-family: 'Praise';
    font-size: 3rem;
}
.conteneur1{
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: center/cover url(/images/img1.jpg) no-repeat;
}
.ordi{
  display: none;
}
.enfant1{
    backdrop-filter: blur(2px);
    background-color: #40735baf;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}
.enfant2{
  backdrop-filter: blur(2px);
  background-color: #40735baf;
  width: 50%;
  height: 5vh;
  text-align: center;
  border-radius: 10px;
  display: none;
}
.conteneur2{
    margin: 100px;
    display: flex;
    font-size: 1.7rem;
    font-family: 'Cinzel', serif;
    background-color:#73493f ;
    backdrop-filter: blur(3px);
}
.cont{
    background-color:#73493f ;
    border-radius: 5px;
    color: #B5D991;
    text-align: center;
    box-shadow: 0px -4px 11px 11px rgba(255, 255, 255, 0.38);
}
.p2{
    font-family: 'Cinzel', serif;
}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}
.conteneurx{
    display: flex;
    flex-direction: column;
    flex: 3;
}
.adresse{
    display: flex;
    justify-content: space-around;
    font-family: 'Cinzel', serif;
    margin: 50px 50px 0px 50px;
}
img{
    margin: 50px;
}
.image{
  display: flex;
  justify-content: center;
    flex: 1;
}
iframe{
    border-radius: 20px;
}
.conteneur3{
    margin: 0px 50px 40px 50px;
    font-size: 1.5rem;
}
.para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    padding: 10px;
}
#triangle-code{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 11px solid transparent;
    border-bottom : 14px solid transparent;
    border-left : 25px solid black;
    margin: 10px;
}
.btn{
    display: none;
    border: 1px solid #212226;
    border-radius: 10px;
    background-color: rgba(202, 202, 202, 0.63);
}
.btn1{
  border: 1px solid #212226;
  border-radius: 10px;
  background-color: rgba(202, 202, 202, 0.63);
  display: none;
}
.lien1{
  display: flex;
  justify-content: center;
  padding-left: 10px;
  text-decoration: none;
}
.lien2{
  display: flex;
  justify-content: center;
  padding-left: 10px;
  text-decoration: none;
}
.text_btn{
  color: #212226;
}
@media screen and (max-width:1200px){
  .p2{
    font-size: 1rem;
  }
  .adresses{
    font-size: 0.8rem;
  }
  .btn{
    font-size: 0.8rem;
  }
}
@media screen and (max-width:400px){
  h1{
    font-size: 2rem;
  }
  .image{
    display: block;
    width: 100%;
    margin: 0px;
  }
  .img-lien{
    margin: 5px;
    align-items: center;
    width: 50px;
  }
  .p2{
    font-size: 0.7rem;
  }
  .conteneur{
    display: block;
    margin-top: 20px;
  }
  .conteneurx{
    margin: auto;
  }
  iframe{
    width: 100%;
    height: 100%;
  }
  .image{
    width: 80vw;
    height: 20vh;
    margin: auto;
  }
  .adresse{
    display: block;
    font-size: 0.5rem;
    margin: auto;
  }
  .conteneur2{
    font-size: 0.7rem;
    margin: 2px;
    margin-top: 20px;
  }
  .conteneur3{
    margin-top: 20px;
  }
  .adresse2{
    margin-top: 30px;
  }
  .btn{
    display: none;
  }
  .enfant2{
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
  .phone{
    display: none;
    width: 50vw;
  }
  .enfant1{
    display: none;
  }
  .phone{
    display: block;
    margin: 20px auto;
  }
  #triangle-code{
    display: flex;
    align-self: center;
    height : 0;
    width : 0;
    border-top : 4px solid transparent;
    border-bottom : 6px solid transparent;
    border-left : 10px solid rgb(7, 7, 7);
   }
   .text_btn{
     font-size: 0.5rem;
   }
   .conteneur2{
     display: none;
   }
   .p2{
     display: none;
   }
   .list{
     display: none;
   }
   .titre-restaurant{
     font-size: 2.7rem;
   }
   header{
     align-items: flex-start;
   }
   .div-conteneur{
     height: 100%;
     align-self: flex-start;
     align-items: flex-start;
   }
  .btn{
    display: none;
  }
  @keyframes navi {
    from{
      transform: translateY(-100px);
    }
    to{
       transform: translateY(0px);
    }
  }
  .list .pc{
    display: none;
  }
  body > div.conteneur > div.conteneurx > div.adresse > div.adresse2 > div{
    display: none;
  } 
  .tel{
    display: flex;
    flex-direction: wrap;
  }
}
